/***  START Main Nav  ***/
.main-nav {
	padding-top:  20px;

	@mixin forMed {
		padding-top: 0;
	}

	&--float {
		float: $floatMainNav;
	}

	ul {
		margin: 9px 0;
		padding: 0;
		@mixin clearFix;
	}

	li {
		display: block;
		float: $floatNavLinks;
		list-style: none;
		padding-right: 13px;

		@mixin forSml {
			padding-right: 27px;
		}

		@mixin forMed {
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 5px;

		@mixin forSml {
			padding-right: 40px;
		}

		@mixin forMed {
			padding-right: 20px;
		}
	}

	a {
		background-color: $ltgreyColor;
		color: $lightDarkColor;
		display: block;
		font-size: .8rem;
		font-weight: 300;
		padding: 5px 8px;
		text-decoration: none;

		@mixin forMed {
			background-color: transparent;
			font-size: 1rem;
			padding: 12px 0;

			&.current-list-item {
				color: $minorColor;
			}

			&:hover {
				color: $ltgreyColor;
			}
		}

		@mixin forLrg {
			font-size: 1.275rem;
			padding-top: 15px;
		}
	}
}
/***  END Main Nav  ***/
