/***  START Main Hero Image  ***/
.main-hero {
	position: relative;
	border-bottom: 10px solid rgba($mainColor, .9);


	&__img {
		display: block;
		opacity: 1;

		@mixin forMed {
			opacity: .75;
		}
	}

	&__contact {
		opacity: 1;
		position: absolute;
		text-align: center;
		top: 20%;
		transform: translateY(-20%);
		width: 100%;

		@mixin forMed {
			opacity: 0;
		}
	}

	&__boxes {
		background-color: rgba($ltgreyColor, .5);
		border-top: 10px solid rgba($mainColor, .9);
		margin-bottom: 0;
		padding: 10px;
		text-align: center;
		width: 100%;

		@mixin forMed {
			background-color: transparent;
			border-top: 10px solid transparent;
			padding-top: 50px;
			position: absolute;
			top: 17%;
		}
	}
}
/***  END Main Hero Image  ***/
