$darkColor: #000;
$lightColor: #fff;
$ltgreyColor: #828387;
$dkgreyColor: #242021;
$redColor: #ed1b24;
$blueColor: #2455a1;
$silverColor: #97a0a9;




$mainColor: $darkColor;
$minorColor: $redColor;

$lightDarkColor: $lightColor;  
$darkLightColor: $darkColor;


$bodyFont: 'Roboto';
$h1Font: '';
$h2font: '';




$floatLeft: left;
$floatRight: right;
$floatNone: none;

$floatMainNav: $floatRight;
$floatNavLinks: $floatLeft;